* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    background: url(bg.jpg);
  }
  
  .calendar {
    background-color: white;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  .month {
    margin: 0;
    background-color: rgb(218, 21, 21);
    color: #fff;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 50px;
  }
  
  .day {
    font-size: 40px;
    color: rgb(221, 17, 160);
  }
  
  .day-number {
    font-size: 80px;
    margin: 0;
    font-weight: bold;
    color: rgb(1, 36, 1);
  }
  
  .year {
    margin: 20px 0;
    font-size: 40px;
    color: rgb(23, 4, 73);
    font-weight: 500;
  }
